if CUST_PANTECH_H

if MACH_MSM8974_EF63K
config DEFINE_LIST_EF63K
	bool
	default y
	select PANTECH_SENSOR_SLEEP_STATUS
endif

if MACH_MSM8974_EF63L
config DEFINE_LIST_EF63L
	bool
	default y
	select PANTECH_SENSOR_SLEEP_STATUS
endif

if MACH_MSM8974_EF63S
config DEFINE_LIST_EF63S
	bool
	default y
	select PANTECH_SENSOR_SLEEP_STATUS
endif

config PANTECH_SENSOR_SLEEP_STATUS
	bool

endif
